################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Medications/.vs
/Medications/bin/Debug
/Medications/obj/Debug
/Medications/bin/Release
/Medications/obj/Release
