<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="QuestionsPerRound" value="20"/>
    <add key="WinPercent" value=".95"/>
    <add key="FilesFolder" value="..\..\Files"/>
    <add key="ErrorFile" value="..\..\Files\Errors.txt"/>
    <add key="Debug" value="True"/>
  </appSettings>
</configuration>
